@{
    ViewData["Title"] = "Inicio";
}

<div class="text-center">
    <h1>Bienvenido</h1>
    <p>En esta web usted podrá clasificar emociones faciales cargando imágenes o sacándose fotos</p>

    <!-- Inserta el video de YouTube aquí -->
    <iframe width="560" height="315" src="https://www.youtube.com/embed/zBG-sEGlULs?autoplay=1" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
</div>
